.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
button{
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 20px;
    font-size: 18px;
}
#__next{
    padding: 15rem 0;
}